<a href="https://colab.research.google.com/github/anilaacharya/FinalTest/blob/main/Practice_Exploratory_in_Python_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Read the CSV file
data = pd.read_csv("/content/adult.csv")

In [5]:
# 1. How many men and women (sex feature) are represented in this dataset?

gender_counts = data['gender'].value_counts()
print("Number of women:", gender_counts[' Female'])

Number of women: 10771

In [11]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
#. What is the average age (age feature) of women?
women_data = data[data['gender'] == ' Female']

average_age_women = women_data['age'].mean()
print("Average Age of Wonmen", average_age_women)

Average Age of Wonmen 36.85823043357163

In [9]:
#3. What is the percentage of German citizens (native-country feature)?

# Calculate the percentage of German citizens
percentage_german_citizens = (data[data['native-country'] == ' Germany'].shape[0] / data.shape[0]) * 100

# Display the result
print("Percentage of German citizens:", percentage_german_citizens)

Percentage of German citizens: 0.42074874850281013

In [10]:
# What are the mean and standard deviation of age for those who earn more than
# 50K per year (salary feature) and those who earn less than 50K per year?

high_income_data = data[data['income'] == ' >50K']
low_income_data = data[data['income'] == ' <=50K']

# Calculate mean and standard deviation of age for high / low income group
mean_age_high_income = high_income_data['age'].mean()
std_age_high_income = high_income_data['age'].std()
mean_age_low_income = low_income_data['age'].mean()
std_age_low_income = low_income_data['age'].std()

print("Mean age for individuals earning more than 50K per year:", mean_age_high_income)
print("Standard deviation of age for individuals earning more than 50K per year:", std_age_high_income)
print("Mean age for individuals earning less than or equal to 50K per year:", mean_age_low_income)
print("Standard deviation of age for individuals earning less than or equal to 50K per year:", std_age_low_income)

Mean age for individuals earning more than 50K per year: 44.24984058155847
Standard deviation of age for individuals earning more than 50K per year: 10.519027719851826
Mean age for individuals earning less than or equal to 50K per year: 36.78373786407767
Standard deviation of age for individuals earning less than or equal to 50K per year: 14.02008849082488

In [16]:
# Is it true that people who earn more than 50K have at least a high school education?
 # (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc,
# Masters or Doctorate feature)


education = [' Bachelors', ' Prof-school', ' Assoc-acdm', ' Assoc-voc', ' Masters', ' Doctorate']
has_high_school = all(high_income_data['education'].str.strip().isin(education))

if has_high_school:
    print("It is true that people who earn more than 50K have at least a high school education.")
else:
    print("It is not true that people who earn more than 50K have at least a high school education.")

It is not true that people who earn more than 50K have at least a high school education.

In [22]:
# . Display age statistics for each race (race feature) and each gender (sex feature).
# Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.
age_stats = data.groupby(['race', 'gender'])['age'].describe()
print("Age statistics for each race and gender:")
print(age_stats)

# Find the maximum age of men of Amer-Indian-Eskimo race
max_age_amer_indian_eskimo_men = data[(data['race'] == ' Amer-Indian-Eskimo') & (data['gender'] == ' Male')]
max_age_amer_indian_eskimo_men = max_age_amer_indian_eskimo_men['age'].max()
print("\nMaximum age of men of Amer-Indian-Eskimo race:", max_age_amer_indian_eskimo_men)

Age statistics for each race and gender:
                               count       mean        std   min   25%   50%  \
race                gender
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                               75%   max
race                gender
 Amer-Indian-Eskimo  Female  46.00  80.0
                     Male    45.00  82.0
 Asian-Pac-Islander  Female  43.75  75.0
                     Male    46.00  90.0
 Black               Female  46.00  90.0
                     Male    46.00  90.0
 Other               Female  39.00  74.0
                     Male    42.00  77.0
 White               Female  46.00  90.0
                     Male    49.00  90.0

Maximum age of men of Amer-Indian-Eskimo race: 82

In [ ]:
# Among whom is the proportion of those who earn a lot (>50K) greater: married or
#single men (marital-status feature)? Consider as married those who have
#a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent
#or Married-AF-spouse), the rest are considered bachelors